@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spel {
  width: 97%;
  height: 93vh;
  box-shadow: 20px 20px rgb(30, 30, 30);
}

canvas {
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url("Media/Apsving.io.png");
  background-repeat: repeat-x;
  animation: back 200s infinite linear;
  overflow: hidden;
}

.gameover {
  width: 0px;
  z-index: 11;
  position: fixed;
  display: none;
  animation: front 3s;
  animation-fill-mode: forwards;
}

.start {
  width: 300px;
  height: 130px;
  position: fixed;
  z-index: 11;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 50px;
  box-shadow: 15px 15px rgba(22, 22, 22, 0.644);
  color: black;
}

#WASD {
  width: 500px;
  z-index: 10000;
  position: fixed;
  display: absolute;
  margin-top: 450px;
}

.tryagain {
  width: 235px;
  height: 80px;
  position: fixed;
  z-index: 12;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  display: none;
  font-size: 40px;
  box-shadow: 15px 15px rgba(22, 22, 22, 0.644);
  transform: translatey(170px);
  animation: appear 8s;
  animation-fill-mode: forwards;
  opacity: 0%;
  color: black;
}

.siffra {
  font-size: 120px;
  z-index: 11;
  position: fixed;
  display: block;
  color: yellow;
}

.sten {
  position: fixed;
  display: none;
}

audio {
  display: none;
}

/* Tagen av intrenet men fattar vad den gör */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* --------------------------------------------------------------------------------------- */

/* Animations --------------------------------------------------------------------------------------- */

@keyframes back {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -1800%;
  }
}

@keyframes front {
  0% {
    width: 0px;
  }
  100% {
    width: 500px;
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
